* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid black; */
}
.screenshotsDiv > div > img {
  max-width: 100vw;
  height: auto;
}

li {
  list-style-type: none;
  line-height: 40px;
}
.card-body {
  text-align: center;
}
.header-section {
  background-color: rgb(245, 245, 218);
  background-color: #efefef;
  background-color: white;
}
.header-container {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: transparent;
  height: 100px;
  background-color: pink;
  text-align: center;
}
.header-container > h1 {
  margin: 0px auto;
}
.logo-porsche {
  z-index: 1;
  position: absolute;
  top: 0px;
  border-radius: 4px;
  left: 10vw;
  max-height: 130px;
  width: auto;
  border: 1px solid lightgrey;
}

.icon-button-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-button-div > p {
  color: black;
  font-size: 30px;
}
.header-icons {
  padding: 0px;
  padding-bottom: 10px;
  padding: 0px 15px 10px;
}
.main-carousel-container {
  background-color: #efefef;
}
.main-carousel-div {
  background-color: #efefef;
}
.main-carousel-container,
.carousel-item {
  height: 60vh;
}
.carousel-inner {
  height: 60vh;
}
.main-carousel-container >div
/* .carousel .slide .carousel-dark  */ {
  padding-top: 0px;
  padding-bottom: 0px;
  /* border: 1px solid green; */
}
.carousel-pics {
  max-height: 90vh;
  padding: 0px 10vw;
  /* border: 1px solid green; */
  background-color: transparent;
  /* margin-bottom: 100px; */
}

.carousel-car-name {
  color: grey;
  font-weight: bolder;
}
.carousel-car-strapline {
  color: grey;
  font-weight: bolder;
}

.models-main-div .model-name {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white; /*Only works with - .models-main-div */
  font-weight: bolder;
}
.model-price {
  position: absolute;
  top: 40px;
  left: 10px;
  color: white;
  font-weight: bolder;
}
.models-main-div .model-left-button {
  color: black;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0px;
  font-weight: bolder;
  position: absolute;
  bottom: 20px;
  left: 14px;
  transition: 0.3s ease-in-out;
}
.models-main-div .model-right-button {
  border: 1px solid red;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1px;
  font-weight: bolder;
  position: absolute;
  bottom: 20px;
  left: 185px;
  transition: 0.3s ease-in-out;
}

.models-main-div .model-left-button:hover {
  background-color: red;
  color: white;
  border: transparent;
}
.models-main-div .model-right-button:hover {
  color: red;
  background-color: transparent;
  border: 1px solid red;
}

.models-main-div > .card-body {
  padding-bottom: 0px;
}
.models-container-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

@media (max-width: 1200px) {
  .models-container-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .models-main-div .model-left-button,
  .models-main-div .model-right-button {
    font-size: 10px;
  }
  .models-main-div .model-right-button {
    font-size: 10px;
    left: 135px;
  }
}
@media (max-width: 735px) {
  .models-main-div .model-left-button,
  .models-main-div .model-right-button {
    font-size: 8px;
  }
  .models-main-div .model-right-button {
    font-size: 8px;
    left: 120px;
  }
}
@media (max-width: 670px) {
  .models-main-div .model-left-button,
  .models-main-div .model-right-button {
    display: none;
  }
  .models-main-div .model-right-button {
    display: none;
  }
}
.shopping-tools-div {
  display: flex;
  justify-content: center;
}
.container .shopping-container {
  padding-left: 0px;
  padding-right: 0px;
}
.shopping-tools-div .main-shopping-card-title {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
.shopping-tools-div .main-shopping-card-title:hover {
  color: red;
}

@media (max-width: 990px) {
  #main-shopping-tequipment-card {
    color: blue;
    display: none;
  }
}
@media (max-width: 1590px) {
  .shopping-tools-div .main-shopping-card-title {
    bottom: 10px;
  }
}
@media (max-width: 1390px) {
  .shopping-tools-div .main-shopping-card-title {
    bottom: 7px;
  }
}
.discover-main-page-div {
  display: flex;
  justify-content: center;
}
.discover-main-page-div .main-discover-cards {
  border: none;
}
.main-discover-text {
  transition: color 0.2s ease-in-out;
}
.main-discover-text:hover {
  color: red;
}

.MainFooterLinks {
  border: 1px solid green;
  margin-left: 10%;
  margin-right: 10%;
}

.main-footer-top-bottom-flexer {
  display: flex;
}
.main-footer-top-left-two-div {
  display: flex;

  color: red;
}
.main-footer-bottom-right-two-div {
  color: rebeccapurple;
  display: flex;
}

.card-body {
  padding: 0px;
}
.footer-cols {
  border-top: 2px solid grey;

  padding-top: 20px;
}
.footer-cols > ul {
  padding: 0px;
}
.footer-cols > ul > li > a {
  transition: 0.15s ease-in;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.footer-cols > ul > li > a:hover {
  color: red;
}

@media (max-width: 1220px) {
  .MainFooterLinks {
    border: 1px solid red;
  }
  .main-footer-div .footer-cols {
    width: 50%;
    /* float: left; */
  }
}
@media (max-width: 800px) {
  .MainFooterLinks {
    border: 2px solid blue;
  }
  .main-footer-div .footer-cols {
    width: 100%;
    /* float: left; */
  }
}

.share-page-icon-and-title {
  color: white;
  background-color: gray;
  padding: 7px;
}
.drop {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.drop-icons {
  padding-right: 14px;
  color: blue;
}
.drop-top {
  display: flex;
}
.connect {
  display: flex;
}
.connect-with-porsche {
  padding-top: 20px;
  margin-bottom: 0px;
  font-weight: bolder;
}
.slider {
  overflow: hidden;

  /* background-image: url("./Images/LogoPorschePNG.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  /* background-color: pink; */
}

.slide {
  flex: 0 0 33.33%;
  box-sizing: border-box;

  text-align: center;
  background-color: #f0f0f0;
  background-color: yellow;
  background-color: transparent;
}

.finder-container {
  height: 250px;
  background-color: green;
  border: none;
  margin: none;
  padding: none;
  background-color: transparent;
}
.finder-images {
  height: 80%;
  width: auto;
}
.finder-button-div {
  text-align: center;
}
.finder-next-button,
.finder-prev-button {
  color: black;
  background-color: white;
  padding: 8px 25px;
  margin: 0px 6px;
  font-weight: bolder;
}
.finder-subheader {
  color: blue;

  font-size: 30px;
}
.facebook {
  background-color: transparent;
  color: #3b5998;
}
.linkedin {
  color: #0077b5;
}
.instagram {
  color: #833ab4;
}
.twitter {
  color: #1da1f2;
}
.drops > i,
.connect-icons > i {
  padding: 15px 30px 20px 0px;
}

.model-name-span {
  font-size: 30px;
  color: white;
}
.model-price {
  font-size: 18px;
  color: white;
}

@media (max-width: 1500px) {
  .model-name-span {
    font-size: 25px;
  }
  .model-price {
    font-size: 15px;
  }
}

@media (max-width: 960px) {
  .model-name-span {
    font-size: 20px;
  }
  .model-price {
    font-size: 12px;
  }
}
@media (max-width: 775px) {
  .model-name-span {
    font-size: 20px;
  }
  .model-price {
    font-size: 12px;

    display: none;
  }
}
